<nav class="navbar w296 navbar-expand-lg bg-body-tertiary vh-100">
  <div class="container-fluid flex-column align-items-start px-0 h-100">
    <div>
      <a class="navbar-brand p-4 mb-4" href="#"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a>

      <ul class="navbar-nav flex-column ">
        <li class="nav-item px-3 pb-2 line box">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="material-icons align-bottom me-2">assessment</span>
            <p class="word">Dashboard</p>
          </a>
        </li>
        
        <li class="nav-item px-3 pb-2 line box">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="material-icons align-bottom me-2">question_answer</span>
            <p class="word">Question</p>
          </a>
        </li>
  
        <li class="nav-item px-3 pb-2 line box">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="material-icons align-bottom me-2">assignment</span>
            <p class="word">Assignment</p>
          </a>
        </li>
  
        <li class="nav-item px-3 pb-2 line box">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="material-icons align-bottom me-2">video_library</span>
            <p class="word">Course</p>
          </a>
        </li>
  
        <li class="nav-item px-3 pb-2 line box">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="material-icons align-bottom me-2">supervisor_account</span>
            <p class="word">Admin</p>
          </a>
        </li>
  
        <li class="nav-item px-3 pb-2 line box">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="material-icons align-bottom me-2">settings</span>
            <p class="word">Settings</p>
          </a>
        </li>
      </ul>
    </div>
    
    <div class="d-flex p-3">
      <div class="flex-shrink-0">
        <img class="rounded-circle object-fit-cover" width="48px" height="48px" src="../assets/images/photo-1514794749374-fb67509dbb7f.avif" alt="man">
      </div>
      <div class="flex-grow-1 ms-3">
        <p class="fw-bold">Andy Chen</p>
        <a href="#">andy0401@mail.com</a>
      </div>
    </div>
  </div>
</nav>